@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15.6rem;
    &-text-group {
      text-align: center;
      margin-top: 10.6rem;
    }

    &-intro-title {
      font-size: 2rem;
    }

    &-text {
      font-size: 16px;
    }

    &-btn {
      align-self: center;
      width: 24.2rem;
      height: 24.2rem;

      &-explore {
        width: 24.2rem;
        height: 24.2rem;
      }
    }
  }
}
