@import "_pageTitle.scss";

@media (max-width: 768px) {
  .technology-page-title {
    @include tabletPageTitle();
  }

  .launch-vehicle {
    background-image: url("../assets/technology/image-launch-vehicle-landscape.jpg");
  }

  .spaceport {
    background-image: url("../assets/technology/image-spaceport-landscape.jpg");
  }

  .space-capsule {
    background-image: url("../assets/technology/image-space-capsule-landscape.jpg");
  }

  .technology {
    margin: 0;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0;

    &-nav {
      justify-self: center;
      flex-direction: row;
      gap: 16px;
      margin-top: 56px;
      &-link {
        width: 60px;
        height: 60px;
        font-size: 24px;
      }
    }

    &-info {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 44px;
    }

    &-intro-title {
      font-size: 1.6rem;
    }

    &-main-title {
      font-size: 40px;
    }
    &-text {
      text-align: center;
      font-size: 16px;
      line-height: 28px;
      width: 458px;
      height: 140px;
    }

    &-img-container {
      width: 768px;
      height: 310px;
      grid-row: 1/2;
      margin-top: 60px;
    }
  }
}
