@import "_globals.scss";
@import "_pageTitle.scss";

.technology-page {
  position: relative;

  &-title {
    @include desktopPageTitle();
  }
}

.technology {
  color: white;
  display: flex;
  gap: 80px;
  margin-left: 165px;
  margin-top: 137px;

  &-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &-link {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.25);
      font-family: "Bellefair";
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      letter-spacing: 2px;
      color: #ffffff;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: getColor(midnight-blue);
        border-color: getColor(pure-white);
      }

      &.active {
        background-color: getColor(pure-white);
        color: getColor(midnight-blue);
      }
    }
  }

  &-intro-title {
    font-family: getFontFamily(barlow-condensed);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: getColor(pale-lavender);
    text-transform: uppercase;
  }

  &-main-title {
    font-family: getFontFamily(bellefair);
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    margin-top: 11px;
  }

  &-text {
    font-family: getFontFamily(barlow);
    font-size: 18px;
    line-height: 32px;
    color: getColor(pale-lavender);
    margin-top: 17px;
    width: 444px;
  }

  &-img-container {
    width: 540px;
    height: 540px;
    background-repeat: no-repeat;
  }
}

.launch-vehicle {
  background-image: url("../assets/technology/image-launch-vehicle-portrait.jpg");
}

.spaceport {
  background-image: url("../assets/technology/image-spaceport-portrait.jpg");
}

.space-capsule {
  background-image: url("../assets/technology/image-space-capsule-portrait.jpg");
}

@import "_technology-responsive.scss";
